body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dt,th,td,textarea,dd,li,form,input,button{margin: 0; padding: 0;}
body{font:12px/1 "微软雅黑","Arial Narrow";}
li{list-style: none;}
a{text-decoration: none;}
a:hover{text-decoration: underline;}
table{border-collapse: collapse;border-spacing: 0;}
h1,h2,h3,h4,h5,h6{ font-weight: normal; }
img{border:0;}
.clearfix:after{
	zoom:1;
}
.clearfix:after{
	content:"";
	visibility: hidden;
	clear: both;
	display: block;
	height: 0;
}
.left {
	float: left;
}
.right{
	float: right;
}